# this file holds all info for the odkoc-tool to function
# information should be provided as key - value pairs, separated by a space
# lines with more than two elements will be ignored, as will be empty lines

# General parameters
sleep_this_long 1
loop_this_long 00:00:01

# OpenClinica parameters
########################
userName yyy
password xxx
baseUrl https://myserver.com/oc314ws
baseUrlRest https://myserver.com/oc314
studyIdentifier MA006
siteIdentifier MA006_HSRDT_MiP_PNG
studyOid S_MA006_HS
studyEventOID SE_BASELINE_8410

# some parameters for sending the log
#####################################
mail_enabled false
mail_server localhost
mail_from odkoc@myserver.com
mail_to gerbenrienk@trialdatasolutions.com
mail_subject odkoc log

# postgresql database connection
################################
db_user yyy
db_pass xxx
db_name odk_prod
db_port 5432
db_host localhost

# same for housekeeping
db_util_user yyy
db_util_pass xxx
db_util_name odk_prod_util
db_util_port 5432
db_util_host localhost

# LimeSurvey parameters
#######################
lsUser oli_ls
lsPassword xxx
lsUrl https://myserver.com/ls/index.php/admin/remotecontrol